@media (max-width: 991.98px) {
  body {
    margin-bottom: auto;
    text-align: center;
  }

  /* navbar */
  .navbar {
    background: linear-gradient(to right, white, rgba(0, 0, 0, 0));
  }
  .navbar-brand img {
    width: 100px;
  }
  .navbar-nav .nav-link:hover::after {
    content: '';
    display: block;
    border: 1px solid #fdc20c;
    margin: auto;
    width: 50%;
    margin-bottom: -10px;
  }
  .navbar-nav .nav-link {
    margin: 0 20px;
    font-family: raleway;
    font-weight: 600;
  }
  /* akhir navbar */

  /* banner */
  #banner h1 span {
    color: #fdc20c;
  }
  #banner img {
    width: 100%;
    margin-top: 30px;
  }
  #banner .deskripsi-banner {
    margin-top: 100px;
  }
  #banner .link {
    margin-left: 30px;
  }
  #banner .caption {
    margin: 30px 0;
  }
  /* akhir banner */

  /* about */
  #about {
    margin-top: 150px;
  }
  #about img {
    width: 100%;
    margin-top: 50px;
  }
  #about p span {
    color: #84d387;
    font-family: poppins;
  }
  #about .deskripsi-about {
    margin-left: 0px;
    margin-top: 50px;
  }
  #about .caption {
    margin: 30px 0;
  }
  /* akhir about */

  /* menu */
  #menu {
    margin-top: 150px;
  }
  #menu h1 {
    text-align: center;
  }
  #menu p {
    text-align: center;
  }
  #menu h1 span {
    color: #fdc20c;
  }
  #menu .card-title {
    text-align: center;
    font-family: poppins;
    font-weight: 600;
  }
  #menu .card-text {
    font-family: poppins;
    color: #fdc20c;
    font-weight: 600;
  }
  #menu .card {
    margin-top: 30px;
  }
  /* akhir menu */

  /* info */
  #info {
    margin-top: 150px;
  }
  #info .input-group {
    width: 300px;
    margin-left: 17%;
    height: 55px;
    margin-top: 30px;
    border: 1px solid #fdc20c;
    border-radius: 5px;
  }
  #info .btn {
    margin-top: 30px;
  }
  /* akhir info */

  /* footer */
  #footer {
    margin-top: 150px;
  }
  #footer img {
    width: 100px;
  }
  #footer .caption {
    margin: 30px 0;
  }
  #footer a {
    font-size: 33px;
    margin: 0 10px;
    color: #acacac;
  }
  #footer h6 {
    font-family: poppins;
    font-weight: 600;
    margin-top: 30px;
  }
  #footer .deskripsi-footer {
    margin-top: 50px;
  }
  /* akhir footer */

  /* utilities */
  .btn {
    border-radius: 50px;
    width: 190px;
    color: white;
    font-family: raleway;
    font-weight: 600;
  }
  .link {
    color: #fdc20c;
  }
  h1 {
    font-family: poppins;
    font-size: 35px;
    font-weight: 600;
  }
  .caption {
    color: #acacac;
    font-family: poppins;
    font-size: 14px;
  }
  h1 span {
    color: #fdc20c;
  }
  /* akhir utilities */

  /* banner service */
  #banner-service {
    margin-top: 100px;
  }
  #banner-service img {
    width: 290px;
    margin-top: 100px;
  }
  /* akhir banner service */

  /* service */
  #service {
    margin-top: 150px;
  }
  #service img {
    width: 77px;
  }
  #service h5 {
    margin: 15px 0;
  }
  #service .caption {
    margin-bottom: 100px;
  }
  /* akhir service */
}
